{% extends "layout.html" %}

{% block content %}

<div class="center"> 

    <!-- Welcome message -->
    <h1> Welcome {{ user["name"] }}! </h1>

     <!-- Current monster -->
     <div> 
        <h2>
            Your current monster is {{ monster["name"] }}.
            <br>
            He is at level {{ monster["level"] }}.
        </h2>
        <img src="static/images/{{ monster['image'] }}" height="100vh" width="auto" class="shaking_img">
     </div>

     <div>
        <!-- Daily mission -->
        <div style="display: inline-block; margin-right:5%; margin-left: 5%;">
            <h2>
                Daily Mission: <br>
                {{ mission["name"] }}
            </h2>
        </div>

        <!-- Mission status -->
        <div style="display: inline-block; margin-right: 5%; margin-left: 5%;">
            <h2>
                Mission Status: <br>
                {{ status }}
            </h2>
        </div>
    </div>

    <!-- Mission Start -->
    <form action="{{ url_for("main.mission_start") }}">
        <button class="glow-button" type="submit" style="text-align: center;">START MISSION</button>
    </form>

    <br>

    <!--Collect Monster -->
    {% if status == "Completed." %}
        {% if collected_monster == False %}
    <form action="{{ url_for("main.collect_monster") }}">
        <button id="monster-button" class="glow-button" style="text-align: center;" type="submit">COLLECT MONSTER</button>
    </form>
            {% endif %}
    {%  endif %}

</div>

    <!--
<script>
    var monster_button = document.getElementById("monster-button");
    var state = document.getElementById("status").innerHTML
    document.onload = function() {
        if (state === "Completed.") {
            monster_button.style.visibility = "visible"
        }
    };
</script>
-->

{% endblock content %}