{% extends "layout.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Video Presentation</title>
    <style>
        .box-out {
            position: auto;
            border: solid 1px #555;
            float: left;
            padding: 0px 10px;
        }
        
        .box-in {
            position: relative;
            left: 0;
            top: 0px;
            right: 0;
            bottom: 0;
            margin: auto;
        }
        
        .title-in {
            position: absolute;
            top: 240px;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            height: 50px;
            line-height: 50px;
            font-size: 18px;
        }
    </style>
</head>

<body>
    <form id="container" method="post">
        <h1>Please choose your preferred exercise </h1>
        
        {% if exercises|length ==0 %}
        <div class="center" style="text-align:center; display:flexbox;height:320px; width:1270px; padding: 2%"> 
        <h1>No video at the moment:) Please wait for update </h1>
        </div>
        >

        {% else %}

        {% for exercise in exercises %}
        <div id = "videos" class="box-out" style="height:320px; width:630px; padding: 2%;overflow: scroll;">
            <ul>
                <li style="height:400px;width:630px;overflow: scroll;">


                    <iframe class="exercise box-in" data-file=" url_for({{exercise['exercise']}})" src="{{exercise['exercise']}}" width="400" height="50%" controls>
                    </iframe>
                    
                    <input type="radio" name="exerciseName" style="height:100px;width:30px;" value="{{exercise['exerciseName']}}" checked>
                    <input type="radio" name="{{exercise['exerciseName']}}exerciseURL" style="display: none;" value="{{exercise['exerciseURL']}}" >
                    <input type="radio" name="{{exercise['exerciseName']}}warmup" style="display: none;"value="{{exercise['warmup']}}">
                    <input type="radio" name="{{exercise['exerciseName']}}warmupURL" style="display: none;" value="{{exercise['warmURL']}}" >
                    <input type="radio" name="{{exercise['exerciseName']}}cooldown" style="display: none;" value="{{exercise['cooldown']}}" >
                    <input type="radio" name="{{exercise['exerciseName']}}cooldownURL" style="display: none;" value="{{exercise['cooldownURL']}}" >
                

                    <p>{{exercise['exerciseName']}}</p>
                    <p>About: {{exercise['exerciseContent']}}</p>
                    <p>Length: {{exercise['exerciseLength']}}</p>

                </li>>
            </ul>
        </div>
 
        {% endfor %}
        <input type="text" name="exerciseURL" id="exerciseURL" style="display: none;" value="" >
        <input type="text" name="warmup" id="warmup" style="display: none;"value="">
        <input type="text" name="warmupURL" id="warmupURL" style="display: none;" value="" >
        <input type="text" name="cooldown" id="cooldown" style="display: none;" value="" >
        <input type="text" name="cooldownURL" id="cooldownURL" style="display: none;" value="" >
        {% endif %}
        <button id="back-button" name= "running" class="glow-button"type="submit" style="position:relative;marigin:10px">Continue</button>

        

    </form>
 

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>      
   
        // set the page to be in the middle
        function resetContentPos() {
            var div = document.getElementById("container"); // obtain the container
            var allWidth = document.body.clientWidth; // calculate the width of the screen
            var n = parseInt(allWidth / 420); // according to the width, calculate the amount of videoes we can have
            var contentWidth = n * 420; // total width
            div.style.marginLeft = (allWidth - contentWidth) / 2 + "px"; // the container right shift to the right and stay in the middle
        }
        (function() {
            resetContentPos();

            var exercise_items = document.getElementsByClassName('exercise'); // gain all videos
            for (var i = 0; i < exercise_items.length; i++) { // iteration
                exercise_items[i].addEventListener('play', function(t) {
                    var filename = t.target.dataset.file; //obtain the information of the data file
                    var xhr = new XMLHttpRequest();
                    xhr.setRequestHeader('Content-Type', 'text/plain');


                    xhr.onreadystatechange = function() {

                            if (xhr.readyState == 4 && xhr.status == 200) {
                                console.log(xhr.responseText);

                            }
                        }
                        // sent to server
                    xhr.send(null);

                })
            }
        })();
        window.onresize = function() {
            resetContentPos();
        }
        window.onload = function(){
            var input = document.getElementsByTagName('input');
            var exerciseURL = document.getElementById("exerciseURL")
            var warmup = document.getElementById("warmup")
            var cooldown = document.getElementById("cooldown")
            var warmupURL = document.getElementById("warmupURL")
            var cooldownURL = document.getElementById("cooldownURL")
            for (let i = 1; i < input.length; i++){
                if(input[i].checked == true){
                    name=input[i].value
                    exercise=document.getElementsByName(name+"exerciseURL")[0]
                    warmup=document.getElementsByName(name+"warmup")[0]
                    cooldown=document.getElementsByName(name+"cooldown")[0]
                    warmupURL=document.getElementsByName(name+"warmupURL")[0]
                    cooldownURL=document.getElementsByName(name+"cooldownURL")[0]

                }
            }

        }

    </script>
</body>

</html>

{% endblock content %}