{% extends "layout.html" %} 

{% block content %}

<div>
    <form action="{{ url_for("main.home") }}">        
        <button id="back-button" class="glow-button" type="submit" style="float: right; margin: 2%">
            Back
        </button>
    </form>


    <div class="center">

        <div style="width: 80%; max-width: 600px; display:inline-block;">
            <h1>Please choose the intensity level of {{name}}'s mission for today:</h1>
        </div>

        <form name="level" method="post">
            <div>
                <button class="glow-button" name="level" value=1 type="submit" style="font-size: 50px; margin: 2%;">
                    Easy
                </button>
                <br>
            
                <button class="glow-button" name="level" value=2 type="submit" style="font-size: 50px; margin: 2%;">
                    Medium
                </button>
                <br>
        
                <button class="glow-button" name="level" value=3 type="submit" style="font-size: 50px; margin: 2%;">
                    Hard
                </button>
            </div>
        </form

    </div>
</div> 

{% endblock content %}