{% extends "layout.html" %} 

{% block content %}

<div class="center">

    {% if not decided %}
    <h1>Please confirm if {{ child.name }} has completed his mission:</h1> 

    <div>
        <form name="confirm" method="POST">
            <button class="glow-button" name="confirm" value=1 type="submit" style="margin: 3%; width: 250px; padding: 1rem">
                Confirm Mission Completed
            </button>

            <button class="glow-button" name="confirm" value=0 type="submit" style="margin: 3%; width: 250px; padding: 1rem">
                Deny & Reset Mission
            </button>
        </form>
    </div> 
    {% endif %}

    {% if decided %}
        <a href="{{ url_for('parent.home') }}" style="margin: 3%">
            <button class="glow-button" type="submit">
                Go to Parent Home Page
            </button>
        </a>

        <a href="{{ url_for('child.wait_for_approval') }}" style="margin: 3%">
            <button class="glow-button" type="submit">
                Go to Child Account
            </button>
        </a>
    {% endif %}
</div>

{% endblock content %}