{% extends "layout.html" %} 

{% block content %}

<!-- ids -->
<div id="child_id" style="display:none">{{ child.id }}</div>
<div id="parent_id" style="display:none">{{ parent.id }}</div>

<!-- Section containing the approve and deny buttons -->
<div id="choice" class="center">
    <h1>Please confirm if {{ child.name }} has completed his mission:</h1> 

    <div>
        <button class="glow-button" id="approve" onclick="decision_made()" style="margin: 3%; width: 250px; padding: 1rem">
            Confirm Mission Completed
        </button>

        <button class="glow-button" id="deny" onclick="decision_made()" style="margin: 3%; width: 250px; padding: 1rem">
            Deny & Reset Mission
        </button>
    </div> 
</div>

<!-- Section containing the links to parent home page and child wait for approval page -->
<div id="links" class="center" style="visibility: hidden;">

    <a href="{{ url_for('parent.home') }}" style="margin: 3%">
        <button class="glow-button" type="submit">
            Go to Parent Home Page
        </button>
    </a>

    <a href="{{ url_for('child.wait_for_approval') }}" style="margin: 3%">
        <button class="glow-button" type="submit">
            Go to Child Account
        </button>
    </a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>

<script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port)

    socket.on("connect", function() {
        $("#approve").on("click", function() {
            let child_id = document.getElementById("child_id").innerHTML
            let parent_id = document.getElementById("parent_id").innerHTML
            socket.emit( "parental confirmation", {
                child: child_id,
                parent: parent_id,
                decision: "approved"
            } )
        } )
        $("#deny").on("click", function() {
            let child_id = document.getElementById("child_id").innerHTML
            let parent_id = document.getElementById("parent_id").innerHTML
            socket.emit( "parental confirmation", {
                child : child_id,
                parent: parent_id,
                decision: "denied"
            } )
        })
    } )
</script>

<!-- Javascript that controls which section is visible. -->
<script>
    var choice_buttons = document.getElementById("choice")
    var link_buttons = document.getElementById("links")

    function decision_made() {
        choice_buttons.style.visibility = "hidden"
        link_buttons.style.visibility = "visible"
    }
</script>

{% endblock content %}