{% extends "layout_space.html" %}

{% block content %}

<div id="child_id" style="display:none">{{ user.id }}</div>
<div id="parent_id" style="display:none">{{ parent_id }}</div>
<div id="status" style="display:none">{{ status }}</div>

<div id="name" style="display:none">{{name}}</div>

<div class="center" style="height: 100vh;"> 
    <div id="video" style="display:none">{{ video}}</div>

    <br>

    <div id="player" width="80%" height="70%" ></div>

    <br><br>
    
    <div style="margin: 0 auto;"> 
        <form method="POST">        
            <button name="next-button" id="next-button" class="glow-button" type="submit" disabled>
                {% if status == 2 %}
                Continue
                {% else %}
                Next
                {% endif %}
            </button>
        </form>
    </div>
</div>

<!-- Javascript controlling video to prevent cheating, e.g. via fast-forwarding video. -->
<script>
      // 2. This code loads the IFrame Player API code asynchronously.
    const tag = document.createElement("script");
    tag.id = "iframe-demo";
    tag.src = "https://www.youtube.com/iframe_api";
    const [firstScriptTag] = document.getElementsByTagName("script");
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    let player;

    window.onPlayerReady = (event) => {
    event.target.playVideo();
    };

    window.onPlayerStateChange = (event) => {
    if (event.data === 0) {
        document.getElementById("next-button").disabled=false
    }
    };
    const video=document.getElementById("video").innerHTML
    const videoid=video.replace("https://www.youtube.com/embed/","")

    window.onYouTubeIframeAPIReady = () => {
    player = new window.YT.Player("player", {
    width: 450,
    height:650,
    videoId: videoid,
    playerVars: { 'showinfo': 0,'rel':0, 'controls': 0 },

    events: {
      onReady: window.onPlayerReady,
      onStateChange: window.onPlayerStateChange
    }
  });
};
</script>


<!-- Javascript that sends message stating that child has finished a stage. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
<script type="text/javascript">
    var socket = io.connect(window.location.protocol + '//' + document.domain + ':' + location.port)

    socket.on("connect", function() {
        $("#next-button").on("click", function() {
            let child_id = document.getElementById("child_id").innerHTML
            let parent_id = document.getElementById("parent_id").innerHTML
            let status = document.getElementById("status").innerHTML
            socket.emit( "video watched", {
                child : child_id,
                parent : parent_id,
                status : status
            } )
        } )
    } )
</script>

{% endblock content %}
