{% extends "layout.html" %}

{% block content %}

<div style="height: 100vh; width: 100vh; display: flex; margin: auto; align-items: center;" >
    <video id="exercise-video" controls>
        <source src="static/videos/exercise-video.mp4" type="video/mp4">
    </video>
    <br>
    <form action="{{ url_for("main.mission_complete") }}" style="margin-block: auto">        
        <button id="complete-button" class="glow-button" style="display:none;" type="submit">Continue</button>
    </form>
</div>

<script>
    var video=document.getElementById("exercise-video");
    var button=document.getElementById("complete-button");
    video.onended = function() {
        button.style.display = "block"
    };
</script>

{% endblock content %}