{% extends "layout.html" %}

{% block content %}

<div id="name" style="display:none">{{name}}</div>

<div class="center" style="height: 100vh;"> 
    {% set video = "videos/" + name + ".mp4" %}
    <video id="exercise-video" controls style="padding-top: 3%; padding-bottom: 2%;">
        <source src="{{ url_for('static', filename=video) }}" type="video/mp4">
    </video>

    <br>
    
    <div style="width: 100vh; margin: 0 auto;"> 
        <form method="POST">        
            <button id="next-button" class="glow-button" style="visibility: hidden;" type="submit">
                {% if status == 2 %}
                Continue
                {% else %}
                Next
                {% endif %}
            </button>
        </form>
    </div>

</div>

<script>
    var video=document.getElementById("exercise-video")
    var button_next=document.getElementById("next-button")
    var str=document.getElementById("name").innerHTML
    video.onended = function() {
        button_next.style.visibility = "visible"
    }
</script>

{% endblock content %}