{% extends "layout_space.html" %}

{% block content %}

<div id="name" style="display:none">{{name}}</div>

<div class="center" style="height: 100vh;"> 
    {% set video = "videos/" +"help_video.mp4" %}
    <video id="exercise-video" controls controlsList="noplaybackrate nodownload" disablePictureInPicture=true; style="padding-top: 3%; padding-bottom: 2%;">
        <source src="{{ url_for('static', filename=video) }}" type="video/mp4">
    </video>

    <br>
    
    <div style="width: 100vh; margin: 0 auto;"> 
        <form action="{{ url_for("parent.home") }}">        
            <button id="next-button" class="glow-button" >
                Back
            </button>
        </form>
    </div>
</div>



{% endblock content %}