{% extends "layout.html" %} 

{% block content %}

<head>
    <style>
        .body {
            overflow: scroll;
        }
    </style>
</head>

<div style="display:flex; justify-content:space-between; margin: 2%;">

    <!-- Welcome message to parent -->
    <h1>Welcome {{ parent["name"] }}!</h1>

    <!-- Logout button -->
    <form action="{{ url_for("parent.logout") }}">        
        <button id="logout-button" class="glow-button" type="submit">Logout</button>
    </form>
</div>

<!-- List of children -->
<div style="text-align: center">

    {% if child_num != 0 %}

        {% for (child, status, mission) in children %}

            <div style="border-style: solid; border-color: white; border-width: medium; width: 80%; margin: 2%; display: inline-flex; justify-content:space-between;">

                <div style="margin-left: 5%; text-align: left;"> 
                    <h2 style="text-align: center">
                        {{ child.name }}
                    </h2>
                    <hr>
            
                    <!-- Child's daily mission -->
                    <p> Daily mission: {{ mission.name }}</p>
                    <p> Warm-up mission: {{ mission.warm_up }}</p>
                    <p> Exercise mission: {{ mission.exercise }}</p>
                    <p> Cool-down mission: {{ mission.cool_down }}</p>

                    <!-- Child's daily mission status -->
                    <p> Mission status: {{ status }}</p>
                </div>

                <!-- Child information -->
                <div style="text-align: center; margin-left: 5%;"> 

                    <!-- Edit daily mission -->
                    {% if child.mission_status < 3 %}
                    <form action="{{ url_for('parent.choose_level', missionId=child.mission,child_id=child["id"])}}" style="margin:5%">
                        <button class="glow-button" type="submit" style="font-size: 14px; padding: 0.5rem">
                            Edit Daily Mission
                        </button>
                    </form>
                    {% endif %}

                    <!-- Confirm mission stage -->
                    {% if child.mission_status == 3 %}
                    <form action="{{ url_for("parent.confirm_mission", child_id=child["id"]) }}" style="margin:5%">
                        <button class="glow-button" type="submit" style="font-size: 14px; padding: 0.5rem">
                            Confirm Mission Completion
                        </button>
                    </form>
                    {% endif %}
                
                </div>

            </div>
        
        {% endfor %}

    {% else %}
    
        <br><br>
        <h4> Your account has no children linked to it. </h4>

    {% endif %}
 <ul style="display:flex; justify-content:space-between; margin: 2%;">
    <li style="margin-left:5%">

    <!-- Add child button -->
    <form action="{{ url_for("parent.add_child") }}" >         
        <button id="add-button" class="glow-button" type="submit" >Add child</button>
    </form>
    </li>
    <li style="margin-right:5%">

    <form action="{{ url_for("parent.help_video") }}" >        
        <button id="add-button" class="glow-button" style="display:none">Help</button>
    </form>
</li>
</ul>

</div>

{% endblock content %}