{% extends "layout.html" %} 

{% block content %}

<div style="display:flex; justify-content:space-between;">

    <!-- Welcome message to parent -->
    <h1>Welcome {{ parent["name"] }}!</h1>

    <!-- Back button -->
    <form action="{{ url_for("main.home") }}">        
        <button id="back-button" class="glow-button" type="submit">Back</button>
    </form>
</div>

<!-- List of children -->
{% for child in parent.children %}

    <div style="border-style: solid; border-color: white; border-width: medium; margin: 5%; overflow: auto;">

        <!-- Child name -->
        <h2 style="margin-left: 5%;">{{ child.name }}</h2>

        <!-- Child information -->
        <div> 

            <!-- Daily mission -->
            <div style="display: inline-block; margin-right: 5%; margin-left: 5%;"> 
                <!-- Child's daily mission -->
                {% set exercise = missions[child.mission] %}
                <p> Daily mission: {{ exercise.name }}</p>
                <p> Warm-up mission: {{ exercise.warm_up }}</p>
                <p> Exercise mission: {{ exercise.exercise }}</p>
                <p> Cool-down mission: {{ exercise.cool_down }}</p>

                <!-- Child's daily mission status -->
                {% if child.mission_status %}
                    <p> Mission status: Completed. </p>
                {% else %}
                    <p> Mission status: Pending. </p> 
                {% endif %}
            </div>

            <!-- Edit daily mission -->
            <div style="display: inline-block; margin-left: 10%;">
                <form action="{{ url_for('parent.choose_warm_up', missionId=child.mission,child_id=child["id"])}}">
                    <button class="glow-button" type="submit" style="font-size: 14px; padding: 0.5rem">Edit daily mission for {{ child.name }}</button>
                </form>
            </div>

            <div style="display: inline-block; margin-left: 10%;">
                <!-- Edit approved mission list -->
                <form action="{{ url_for("parent.home") }}">
                    <button class="glow-button" type="submit" style="font-size: 14px; padding: 0.5rem">Edit approved mission list for {{ child.name }}</button>
                </form>
            </div>
        
        </div>

    </div>

{% endfor %}

{% endblock content %}