{% extends "layout.html" %} 

{% block content %}

<div style="display:flex; justify-content:space-between;">

    <!-- Welcome message to parent -->
    <h1>Welcome {{ parent["name"] }}!</h1>

    <!-- Back button -->
    <form action="{{ url_for("main.home") }}">        
        <button id="back-button" class="glow-button" type="submit">Back</button>
    </form>
</div>

<!-- List of children -->
<div style="text-align: center;">
    {% for (child, status) in children_statuses %}

    <div style="border-style: solid; border-color: white; border-width: medium; width: 80%; margin: 5%; display: inline-flex; justify-content:space-between;">

        <div style="margin-left: 5%;"> 
            <h2>{{ child.name }}</h2>
     
            <!-- Child's daily mission -->
            {% set exercise = missions[child.mission] %}
            <p> Daily mission: {{ exercise.name }}</p>

            <!-- Child's daily mission status -->
            <p> Mission status: {{ status }}</p>
        </div>

        <!-- Child information -->
        <div style="text-align: center; margin-left: 5%;"> 

            <!-- Edit daily mission -->
            <form action="{{ url_for("parent.home") }}" style="margin:5%">
                <button class="glow-button" type="submit" style="font-size: 14px; padding: 0.5rem">
                    Edit Daily Mission
                </button>
            </form>

            <!-- Edit approved mission list -->
            <form action="{{ url_for("parent.home") }}" style="margin:5%">
                <button class="glow-button" type="submit" style="font-size: 14px; padding: 0.5rem">
                    Edit Approved Mission List
                </button>
            </form>

            <!-- Confirm mission stage -->
            {% if child.mission_status == 3 %}
            <form action="{{ url_for("parent.confirm_mission", child_id=child["id"]) }}" style="margin:5%">
                <button class="glow-button" type="submit" style="font-size: 14px; padding: 0.5rem">
                    Confirm Mission Completion
                </button>
            </form>
            {% endif %}
        
        </div>

    </div>
    
    {% endfor %}
</div>

{% endblock content %}