{% extends "layout.html" %}
{% block content %}

<div>
    <!-- Information -->
    <div class="center"> 

        <!-- Welcome message -->
        <h1> Welcome {{ user["name"] }}! </h1>

        <!-- Current monster -->
        <div> 
            <h2>
                {% if status == 3 %}
                    Mission being processed ...
                {% elif status == 4 and status_read == True %}
                    Mission succeeded!
                {% elif status == 5 and status_read == True %}
                    Mission denied, let's try again tomorrow!
                {%  else %}
                    Mission Alert! Update on mission.
                {% endif %}
            </h2>
        
        </div>

        <div>
            <!-- Daily mission -->
            <div style="display: inline-block; margin-right:5%; margin-left: 5%;">
                <h2>
                    Your Current Monster: <br>
                    {{ monster["name"] }} <br>
                    {% set image = "images/" + monster['image'] %}
                    <img src="{{ url_for('static', filename=image) }}" height="100vh" width="auto" class="shaking_img">
                    <br>
                </h2>
            </div>

            <!-- Mission status -->
            <div style="display: inline-block; margin-right: 5%; margin-left: 5%;">
                <h2>
                    Spaceship Fuel Level: <br>
                    <br>
                    {% set image = "images/" + "fuel_level_1.png"%}
                    <img src="{{ url_for('static', filename=image) }}" height="100vh" width="auto">
                    <br>
                </h2>
            </div>
        </div>
        <br>

        <br>

        <!-- Monster Garden -->
        <form action="{{ url_for("child.space_garden") }}">
            <button class="glow-button" type="submit" style="text-align: center;">View Garden</button>
        </form>
        <br>
    </div>

    <!-- Info button -->
    <!-- Story -->
    <form action="{{ url_for("child.story1") }}" style="float: left; margin: 2%">        
        <button id="story-button" class="glow-button" type="submit">Story</button>
    </form>

    {% if user.mission_status >= 4 and status_read == False %}
        <form action="{{ url_for("child.mission_status") }}">
            <button class="glow-button" type="submit" style="text-align: center;">
                MISSION ALERT
            </button>
        </form>
    {% endif %}


    <!-- Logout button -->
    <form action="{{ url_for("child.logout") }}" style="float: right; margin: 2%">        
        <button id="back-button" class="glow-button" type="submit">Logout</button>
    </form>



</div>

{% endblock content %}

<script>
    const button = document.getElementById('btn');

    let elementClicked = false;

    button.addEventListener('click', function handleClick() {

    if (elementClicked) {
        ;
    }

    elementClicked = true;
    });
</script>