{% extends "layout.html" %} 

{% block background %}
<link rel="preload" href="{{ url_for('static', filename='images/background/spaceship.jpg') }}" as "image">

<style>
    body {
        background-image: url("{{ url_for('static', filename='images/background/spaceship.jpg') }}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }
</style>
{% endblock %}

{% block image %} 
    <div>
        <img src="{{ url_for('static', filename='images/background/spaceship.jpg') }}" style="display:none"/>
    </div>
{% endblock image %}