{% extends "layout_spaceship.html" %}

<!-- Load images faster -->
{% block preload_images %}
    <link rel="preload" href="{{ url_for('static', filename='images/monster_messages/wait_for_review.png') }}" as "image">
{% endblock preload_images %}

{% block images %}
    <div>
        <img src="{{ url_for('static', filename='images/monster_messages/wait_for_review.png') }}" style="display:none"/>
    </div>
{% endblock images %}


{% block content %}
<!-- Buttons at the top of page -->
<div>

    <!-- Sound effect -->
    <audio src="{{ url_for('static', filename='audio/zapsplat_multimedia_alert_notification_bold_strong_musical_positive_success_002_61630.mp3') }}" controls controlsList="nodownload noplaybackrate" style="margin: 2%">
    </audio>

    <!-- Logout button -->
    <form action="{{ url_for("child.logout") }}" style="float: right; margin: 2%">        
        <button id="back-button" class="glow-button" type="submit">Logout</button>
    </form>
</div>
<br>

<div class="center" style="padding-top: 5%">

    <div style="display:flex; justify-content:space-between;">
        <!-- Monster image and message -->
        <div style="padding-left: 5%">
            <img src="{{ url_for('static', filename='images/monster_messages/wait_for_review.png') }}"  width="70%" height="auto" style="min-width: 400px; max-width: 800px">
        </div>


        <!-- Mission Start -->
        <div style="padding-top: 20%; padding-right: 15%;">
            <form action="{{ url_for("child.home") }}">
                <button class="glow-button" type="submit" style="text-align: center;">
                    Go to Spaceship
                </button>
            </form>
        </div>
    </div>

</div>

<script>
    const audio = document.querySelector("audio")

    window.addEventListener("DOMContentLoaded", event => {
        audio.volume = 0.7;
        audio.play();
    } )
</script>

{% endblock content %}
