{% extends "layout_space.html" %}

{% block content %}

<div style="display:flex; justify-content:space-between; margin: 2%;">

    <!-- Audio controls -->
    <audio src="{{ url_for('static', filename='audio/music_zapsplat_game_music_action_fast_paced_elelctro_sonic_011.mp3') }}"controls controlsList="nodownload noplaybackrate" style="margin-right: 2%">
    </audio>

    <!-- Back button -->
    <form action="{{ url_for("child.space_garden") }}">
        <button id="back-button" class="glow-button" type="submit">Back</button>
    </form>

</div>

<!-- Welcome message to parent -->
<div style="text-align: center">
    <h1>
        Welcome {{ user["name"] }} to your Space Garden!
    </h1>
</div>

<!-- Monsters -->
<div  style="text-align: center" style="margin-top: 5%">
    
    <!-- Monsters owned -->
    {% for monster in owned_monsters %}
    <div class="monster-container"> 
        {% set image = "images/monsters/" + monster['image'] %}
        <p>{{ monster["name"] }}</p>
        <p>Loves nature. Can grow magic plants which fight monsters. </p>
        <img src="{{ url_for('static', filename=image) }}" height="100vh" width="auto">
    </div>
    {% endfor %}

    <!-- Future monsters -->
    {% for monster in future_monsters %}
    <div class="monster-container">
        {% set image = "images/" + "question_mark.png" %}
        <p>{{ monster["name"] }}</p>
        <p>You'll meet this monster soon!</p>
        <img src="{{ url_for('static', filename=image) }}" height="100vh" width="auto">
    </div>
    {% endfor %}

</div>

<script>
    const audio = document.querySelector("audio");
    
    window.addEventListener("DOMContentLoaded", event => {
        audio.volume = 0.2;
        audio.play();
    });

    audio.onended=function(){
        audio.play();
    }
</script>

{% endblock content %}
