{% extends "layout.html" %}

{% block content %}

<div id="container">
    {% for movie in movies %}
    <div class="box-out" style="height:280px;width:400px;">
        <video class="movie box-in" data-file="{{movie['file']}}" width="400" height="225"
            controls>
            <source src="static/movies/{{movie['file']}}" type="video/mp4" />
        </video>
        <p class="title-in">You have wathed '{{movie['title']}}'' {{movie['count']}} times</p>
    </div>
    {% endfor %}
</div>
<script>
    // set the page to be in the middle
    function resetContentPos() {
        var div = document.getElementById("container"); // obtain the container
        var allWidth = document.body.clientWidth; // calculate the width of the screen
        var n = parseInt(allWidth / 420); // according to the width, calculate the amount of videoes we can have
        var contentWidth = n * 420; // total width
        div.style.marginLeft = (allWidth - contentWidth) / 2 + "px"; // the container right shift to the right and stay in the middle
    }
    (function () {
        resetContentPos();

        var movie_items = document.getElementsByClassName('movie'); // gain all videos
        for (var i = 0; i < movie_items.length; i++) { // iteration
            movie_items[i].addEventListener('play', function (t) {
                var filename = t.target.dataset.file; //obtain the information of the data file
                var xhr = new XMLHttpRequest();
                xhr.open('GET', 'incrMovie?name=' + filename);
                xhr.setRequestHeader('Content-Type', 'text/plain');

                xhr.onreadystatechange = function () {

                    if (xhr.readyState == 4 && xhr.status == 200) {
                        console.log(xhr.responseText);
                    }
                }
                // sent to server
                xhr.send(null);

            })
        }
    })();
    window.onresize = function () {
        resetContentPos();
    }
</script>

{% endblock content %}