{% extends "layout.html" %} 

{% block content %}

<div>
    <form action="{{ url_for("parent.confirm_mission", child_id=child["id"]) }}">        
        <button id="back-button" class="glow-button" type="submit" style="float: right; margin: 2%">
            Back
        </button>
    </form>


    <div class="center">

        <div style="width: 80%; max-width: 600px; display:inline-block;">
            <h1>Please choose which stage to reset {{ child["name"] }}'s mission to: </h1>
        </div>

        <form name="stage" method="post">
            <div>
                <button class="glow-button" name="stage" value=0 type="submit" style="margin: 1%;">
                    Mission Not Started.
                </button>
                <br>
            
                <button class="glow-button" name="stage" value=1 type="submit" style="margin: 1%;">
                    Warmup Complete. Exercise Not Done.
                </button>
                <br>
        
                <button class="glow-button" name="stage" value=2 type="submit" style="margin: 1%;">
                    Exercise Complete. Cooldown Not Done.
                </button>
            </div>
        </form

    </div>
</div> 

{% endblock content %}