{% extends "layout.html" %} 

{% block content %}

<div class="center" style="margin: auto;">

    <h1> Are you a parent or a child? </h1>

    <form action="{{ url_for("parent.home") }}" style="display: inline-block; margin-right:5%; margin-left: 5%;">
        <button class="glow-button" type="submit" style="text-align: center;">Parent</button>
    </form>

    <form action="{{ url_for("child.story1") }}" style="display: inline-block; margin-right:5%; margin-left: 5%;">
        <button class="glow-button" type="submit" style="text-align: center;">Child</button>
    </form>

</div>

{% endblock content %}