{% extends "layout.html" %} 

{% block content %}

<audio controls>
    <source src="static/audio/house_party.mp3" type="audio/mpeg">
    Sound from ZapSplat.com
</audio>

<div style="display:flex; justify-content:space-between; margin: 2%;">

    <!-- Welcome message to parent -->
    <h1 style="margin-left: 5%">
        Welcome {{ user["name"] }} to your Space Garden!
    </h1>

    <!-- Back button -->
    <form action="{{ url_for("child.home") }}">
        <button id="back-button" class="glow-button" type="submit">Back</button>
    </form>
</div>

<!-- Monsters -->
<div class="center" style="margin-top: 5%">
    <!-- Monsters owned -->
    {% for monster in owned_monsters %}
    <div class="monster-container"> 
        {% set image = "images/" + monster['image'] %}
        <p>{{ monster["name"] }}</p>
        <img src="{{ url_for('static', filename=image) }}" height="100vh" width="auto" class="shaking_img">
    </div>
    {% endfor %}

    <!-- Future monsters -->
    {% for monster in future_monsters %}
    <div class="monster-container">
        {% set image = "images/" + monster['image'] %}
        <p>{{ monster["name"] }}</p>
        <img src="{{ url_for('static', filename=image) }}" height="100vh" width="auto" class="shaking_img">
    </div>
    {% endfor %}

    <!-- Monster Profile button -->
    <form action="{{ url_for("child.monster_profiles") }}">
        <button id="back-button" class="glow-button" type="submit" style="margin-top: 2%">
            Monster Profiles
        </button>
    </form>

</div>

{% endblock content %}