{% extends "layout_space.html" %}

{% block content %}

<div class="center">
    <h1>You'll come across different monsters as you complete more missions.</h1>
    
    {% set image = "images/backstory/evolution.png" %}
    <img src="{{ url_for('static', filename=image) }}" height="270vh" width="auto"> 

    <h1>Each of these monsters starts off as an egg, it will hatch and grow overtime into a full monster as you complete missions!</h1>

    <form method="POST" style="margin-block: auto; margin: 2%">
        <button id="next-story-page-button" class="glow-button" type="submit">
            {% if tutorial %} 
            Return to Spaceship
            {% else %}
            Click to Start Your First Mission!
            {% endif %}
        </button>
    </form>

</div>

{% endblock content %}