{% extends "layout_space.html" %}

<!-- Load images faster -->
{% block preload_images %}
    <link rel="preload" href="{{ url_for('static', filename='images/backstory/alien3.png') }}" as "image">
{% endblock preload_images %}

{% block images %}
    <div>
        <img src="{{ url_for('static', filename='images/backstory/alien3.png') }}" style="display:none"/>
    </div>
{% endblock images %}


{% block content %}

<!-- Sound effect -->
<audio src="{{ url_for('static', filename='audio/story/3_help_help_bogglings.m4a') }}" controls controlsList="nodownload noplaybackrate" style="margin: 2%">
</audio>

<div class="center">
    
    {% set image = "images/backstory/alien3.png" %}
    <img src="{{ url_for('static', filename=image) }}" height="70%" width="auto" style="max-height: 1000px">

    <form action="{{ url_for("child.story4") }}" style="margin-block: auto; margin: 2%">
        <button id="next-story-page-button" class="glow-button" type="submit">=></button>
    </form>
</div>

<script>
    const audio = document.querySelector("audio")

    window.addEventListener("DOMContentLoaded", event => {
        audio.volume = 0.7;
        audio.play();
    } )
</script>

{% endblock content %}
