{% extends "layout_space.html" %}

<!-- Load images faster -->
{% block preload_images %}
    <link rel="preload" href="{{ url_for('static', filename='images/backstory/moon-rocks-and-bogglings.png') }}" as "image">
{% endblock preload_images %}

{% block images %}
    <div>
        <img src="{{ url_for('static', filename='images/backstory//moon-rocks-and-bogglings.png') }}" style="display:none"/>
    </div>
{% endblock images %}


{% block content %}

<div class="center">
    <h1>They split in good and evil: The Moon Rocks and The Bogglings!</h1>
    
    {% set image = "images/backstory/moon-rocks-and-bogglings.png" %}
    <img src="{{ url_for('static', filename=image) }}" height="270vh" width="auto"> 

    <form action="{{ url_for("child.story9") }}" style="margin-block: auto; margin: 2%">
        <button id="next-story-page-button" class="glow-button" type="submit">=></button>
    </form>
   

</div>

{% endblock content %}