{% extends "layout_space.html" %}

{% block content %}

<div class="center">
    <h1>I'll try setting you 1 mission a day!</h1>
    
    {% set image = "images/backstory/monsters.png" %}
    <img src="{{ url_for('static', filename=image) }}" height="100vh" width="auto"> 

    <h1>Your spaceship is fuelled by exercise!</h1>

    {% set image = "images/backstory/spaceship.jpg" %}
    <img src="{{ url_for('static', filename=image) }}" height="100vh" width="auto"> 

    <h1>I'll use this to tell you important mission updates!</h1>

    {% set image = "images/backstory/monsters.png" %}
    <img src="{{ url_for('static', filename=image) }}" height="100vh" width="auto"> 

    <form method="POST" style="margin-block: auto; margin: 2%">
        <button id="next-story-page-button" class="glow-button" type="submit">
            {% if tutorial %} 
            Return to Spaceship
            {% else %}
            Click to Start Your First Mission!
            {% endif %}
        </button>
    </form>
   
</div>

{% endblock content %}