{% extends "layout_space.html" %}

<!-- Load images faster -->
{% block preload_images %}
    <link rel="preload" href="{{ url_for('static', filename='images/backstory/alien1.png') }}" as "image">
{% endblock preload_images %}

{% block images %}
    <div>
        <img src="{{ url_for('static', filename='images/backstory/alien1.png') }}" style="display:none"/>
    </div>
{% endblock images %}


{% block content %}

<div class="center">
    <h1>Hi! Welcome to the Shooting Star Space Agency!</h1>
    {% set image = "images/backstory/alien1.png" %}
    <img src="{{ url_for('static', filename=image) }}" width="100%" height="auto" style="max-width: 600px"> 

    <form action="{{ url_for("child.story2") }}" style="margin-block: auto; margin: 2%">
        <button id="next-story-page-button" class="glow-button" type="submit">=></button>
    </form>
</div>

{% endblock content %}