{% extends "layout_space.html" %}

{% block content %}

<div class="center">
    <h1>Until 1 mean monster was kicked out of Earth!</h1>
    
    {% set image = "images/backstory/angry-monster.png" %}
    <img src="{{ url_for('static', filename=image) }}" height="270vh" width="auto"> 

    <form action="{{ url_for("child.story7") }}" style="margin-block: auto; margin: 2%">
        <button id="next-story-page-button" class="glow-button" type="submit">=></button>
    </form>
   

</div>

{% endblock content %}