{% extends "layout.html" %} 

{% block content %}

<div id="id" style="display:none">{{ id }}</div>
<div id="status" style="display:none">{{ status }}</div>

<!-- Section that appears when child is in waiting for approval stage. -->
<div id="waiting" class="center" style="margin: auto; visibility: hidden;">
    <h1>Awaiting Approval from Mission Control... </h1>
    <br>

    <form action="{{ url_for("parent.home") }}">
        <button class="glow-button" type="submit" style="text-align: center;">Go to Parent Account</button>
    </form>
</div>

<!-- Section that appears after parent has confirmed mission complete. -->
<div id="approved" class="center" style="margin: auto; visibility: hidden;">

    <h1>Mission Approved!</h1>
    <br>

    <form action="{{ url_for("child.mission_complete") }}">
        <button class="glow-button" type="submit" style="text-align: center;">Continue</button>
    </form>
</div>

<!-- Section that appears after parent has denied mission. -->
<div id="denied" class="center" style="margin: auto; visibility: hidden;">
    <h1> 
        Error! <br>
        Mission Failure!
    </h1> <br>

    <form action="{{ url_for("child.planet_missions") }}">
        <button class="glow-button" type="submit" style="text-align: center;">
            Let's Try Again!
        </button>
    </form>
</div>

<!-- Javascript that updates page upon receiving message from server. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
<script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port)
    socket.on("connect", function() {
        socket.emit('connected', {
            data: 'Child User Connected'
        } )
    } )
    socket.on("status updated", function( msg ) {
        if (msg.child == document.getElementById("id").innerHTML) {
            if (msg.status == 4) {
                approved_stage()
            } 
            if (msg.status == 0) {
                denied_stage()
            }
        }
    } )
</script>

<!-- Javascript that controls which section is visible. -->
<script>
    var waiting_section = document.getElementById("waiting")
    var approved_section = document.getElementById("approved")
    var denied_section = document.getElementById("denied")

    function waiting_stage() {
        waiting_section.style.visibility = "visible"
        approved_section.style.visibility = "hidden"
        denied_section.style.visibility = "hidden"
    }
    function approved_stage() {
        waiting_section.style.visibility = "hidden"
        approved_section.style.visibility = "visible"
        denied_section.style.visibility = "hidden"
    }
    function denied_stage() {
        waiting_section.style.visibility = "hidden"
        approved_section.style.visibility = "hidden"
        denied_section.style.visibility = "visible"
    }
</script>
<script>
    var status = document.getElementById("status").innerHTML
    window.onload = function() {
        if (status == 3) {
            waiting_stage()
        } else if (status == 4) {
            approved_stage()
        } else {
            denied_stage()
        }
    }
</script>

{% endblock content %}