{% extends "layout.html" %} 

{% block content %}

<div class="center" style="margin: auto;">

    {% if status == 3 %}
    
        <h1>Awaiting Approval from Mission Control... </h1>
        <br>

        <form action="{{ url_for("parent.home") }}">
            <button class="glow-button" type="submit" style="text-align: center;">Go to Parent Account</button>
        </form>

    {% elif status == 4 %}

        <h1>Mission Approved!</h1>
        <br>

        <form action="{{ url_for("child.mission_complete") }}">
            <button class="glow-button" type="submit" style="text-align: center;">Continue</button>
        </form>
    
    {% else %}

        <h1> 
            Error! <br>
            Mission Failure!
        </h1> <br>

        <h2> 
            {% if status == 0 %}
            Warmup
            {% elif status == 1 %} 
            Exercise
            {% else %} 
            Cooldown
            {% endif %}
            Not Done
        </h2><br>

        <form action="{{ url_for("child.planet_missions") }}">
            <button class="glow-button" type="submit" style="text-align: center;">
                Let's Try Again!
            </button>
        </form>

    {% endif %}
</div>

{% endblock content %}